<button routerLink='/'>Home</button>      
        <h1>About the Owner</h1>
  <div id="aboutTyler">      
    <p>
        Tyler Michael Shelton, affectionately known by his peers as "T-Money $-Dolla$ign" is a world renowned gardener, known 
        throughout the industry as a professional and down to earth businessman with a keen eye for making gardens spectacular.
        Tyler was born in the Pacific Northwest where he developed his love of horticulture through exploring the outdoors, and
        visiting the area lovely Japanese Gardens as well as Portland's Rose Garden. Tyler attended THE Ohio State University 
        (GO BUCKEYES!) where he Majored in Horticulture and Minored in Landscape Design. After Graduating at the top of his class,
        he decided to travel abroad, spending the next few years traveling to the far ends of the globe taking in some of the most 
        awe inspiring gardens in existence. In 2018 Tyler came up with the concept for this company while deep in meditation in the
        Rinzai Zen temple in Kyoto, Japan. He has since devoted his life to helping people achieve their dreams through horticulture.
        Winner of the 2016 Landscape Design Award, 2017 Teaching Award and the 2018 Urban Beautifucation Award from the American
        Horticulture Society; The Man, The Myth, The Legend, Tyler Shelton.
    </p>
  </div>
  <div id="contactTyler">
      <form method="POST" action="https://formspree.io/YOUREMAILHERE">
        <input type="email" name="email" placeholder="Your email">
        <textarea name="message" placeholder="Test Message"></textarea>
        <button type="submit">Send Test</button>
      </form>
  </div>