table{
    background-color:wheat;
    margin:auto;
    height:70%;
    width:75%;
    border:.25em solid black;
}
td{
    width:50%;
    margin:auto
}
textarea{
    width:80%;
    height:20em;
}
.imageLink:hover{
    cursor:pointer;
}
input{
    margin-bottom:1em
}
form{
    margin-left:5em;
}
#tylerImage{
margin-left:1em;
margin-top:1em
}