.productContainer{
    margin:auto;
    overflow:auto;
    height:70%;
    width:75%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;
    align-content:space-between;
    border:.25em solid black
}
.card{
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    transition: 0.3s;
    width:20vw;
    text-align:center;
    background-color:green;
    margin-top:.5em;
    margin-bottom:.5em
}
.card:hover{
    box-shadow:0.5em 0.5em 2em rgba(0,0,0,0.2);
    cursor: pointer;
}
.cardContainer{
    height:20em;
}
#backarrow{
    height:4em;
    width:5em;
}
.imageLink:hover{
    cursor:pointer;
}
