<nav>
<button routerLink="/">Home</button>
</nav>
<h1>Plants! Glorious Plants!</h1>
<!-- <div class="productContainer">    
    <div class="deck">
            <div class="card">
                <div class="cardContainer">
                    <h1><i>Product ID</i></h1>
                    <h3>Product Name</h3>
                    <p>Here is a few lines of text to simulate a product description since I can't fogure out how to actually render data.</p>
                    <p>Product Price</p>
                </div>
            </div>
        </div>
    </div> -->


    <ul>
        <li *ngFor="let one of products">
             <span >${{this.one.product_price}}</span>
             <br />
             <span >{{this.one.product_name}}</span>
             <br />
             <span >{{this.one.product_description}}</span>
             <br />
             <button>DELETE</button>
           </li>
       </ul>
