<div>
<img class="imageLink" style="height:3em; width:3em;" src="../../assets/Arrow.png" routerLink="/">
<h1>Plants! Glorious Plants!</h1>
</div>

    <div class="productContainer">
        <div class="card"*ngFor="let one of products">
            <div class="cardContainer" >
                <h1><i>{{this.one.id}}</i></h1>
                <h3>{{this.one.product_name}}</h3>
                <p>{{this.one.product_description}}</p>
                <p>${{this.one.product_price}}</p>
                <button>delete</button>
            </div>
        </div>
    </div>
