table{
    background-color:wheat;
    margin:auto;
    height:70%;
    width:75%;
    border:.25em solid black;
}
td{
    width:34%;
    margin:auto
}
.logo{
    height:25em;
    width:25em;
}
.imageLink:hover{
    cursor:pointer;
}